{% extends "base.njk" %} {% block title %}Departing.io{% endblock %} {% block description %}Departing.io is a web application designed to answer one question and answer it well: when will the next bus come?{% endblock %} {% block body %}
<div class="imagetext">
    {{ n.image('templates/_srcset.html','departing_io/cold_walking','Traveller using Departing.io' )}}
    <section class="header floating">
        <h1><a href="/">Jake Coppinger&nbsp;/</a> Departing.io</h1>
    </section>
</div>
<div class="clear"></div>
<section class="content">
    {% markdown 'markdown/departing_io.md' %}
</section>
{% endblock %}
