{% extends "base.njk" %} {% block title %}Films{% endblock %} {% block description %}Films by Jake Coppinger.{% endblock %} {% block body %}
<div class="imagetext">
    {{ n.image("topbackground","films/montage.jpeg","Traveller using Departing.io") }}
    <section class="header floating difference">
        <h1><a href="/">Jake Coppinger&nbsp;/</a> Films</h1>
    </section>
</div>
<section class="content">
    <h1><a href="http://www.youtube.com/c/jakecoppinger">2.1 million YouTube views / 37k subscribers</a></h1>
    <table>
        <tr>
            <td><b>Best Film in festival</b></td>
            <td><i><a href="/the_engineering_process">The Engineering Process</a></i></td>
            <td><a href="http://www.gungahlincollegetv.com/featured/">ReelACT 2015</a></td>
        </tr>
        <tr>
            <td><b>Best Music Video</b></td>
            <td><i><a href="/film/dark_matter">Dark Matter</a></i></td>
            <td><a href="http://www.gungahlincollegetv.com/featured/">ReelACT 2015</a></td>
        </tr>
        <tr>
            <td><b>Second Place</b></td>
            <td><i><a href="/film/the_engineering_process">The Engineering Process</a></i></td>
            <td><a href="http://engflick.com.au/2014/11/27/engineering-film-makers-take-on-the-silver-screen/">EngFlick 2014</a></td>
        </tr>
        <tr>
            <td><b>Finalist &amp; screening in cinema</b></td>
            <td><i><a href="/film/self">Self</a></i></td>
            <td>ReelACT 2013</td>
        </tr>
    </table>
</section>
<section class="content filmpage">
    <ul class="image-grid">
        {% for title in images %} {% if title in filmsWithDedicatedPage %} {% set filenameHTML = "/" + title | titleToFilename %} {% else %} {% set filenameHTML = "/film/" + title | titleToFilename %} {% endif %} {% set filenameJPEG = title | titleToFilename + ".jpeg" %} {% set imageURL = "films/" + filenameJPEG %}
        <li>
            <a href="{{filenameHTML}}">
                {{n.image("",imageURL, films[title].description)}}
                <div>
                    <h3>{{title}}</h3>
                </div>
                </a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
