{% extends "indexbase.njk" %} {% block title %}Portfolio{% endblock %} {% block description %}The portfolio of Jake Coppinger, a first year computer science student with a passion for code, mechatronics, film, and design.{% endblock %} {% block body %}
<!-- Full screen background images -->
<div class="landingimage transit-in-sydney">
</div>
<div class="landingimage departing">
</div>
<div class="landingimage swirlesque">
</div>
<div class="landingimage engineering-process">
</div>
<div class="landingimage films">
</div>
<div id="landingscreen">
    <div id="maintitle">
        <h1>Jake Coppinger</h1>
        <h3>I&rsquo;m a first year computer science student with a passion for code, mechatronics, film, and design.</h3>
        <h3><a href="mailto:jake@jakecoppinger.com">jake@jakecoppinger.com</a> / based in Sydney</h3>
        <span class="social">

    <a href="https://github.com/jakecoppinger/" target=”_blank”>Q</a>
    <a href="https://www.youtube.com/c/jakecoppinger" target=”_blank”>r</a>
    <a href="https://twitter.com/jakecoppinger" target=”_blank”>a</a>
    <a href="http://au.linkedin.com/in/jakecoppinger" target=”_blank”>j</a>

    </span>
        <ul>
            <li class="title">Recent Projects</li>
            <li><a class="transit-in-sydney" href="transit_in_sydney">Transit in Sydney</a></li>
            <li><a class="departing" href="departing_io">Departing.io</a></li>
            <li><a class="swirlesque" href="swirlesque">Swirlesque / TEDxSydney 2014</a></li>
            <li><a class="engineering-process" href="the_engineering_process">The Engineering Process</a></li>
            <li><a class="films" href="films">Films</a></li>
        </ul>
    </div>
</div>
{% endblock %}
